<%- include ('partials/header') %>

<h1>Campgrounds Page</h1>
<a href="/">Landing</a>
<% campgrounds.forEach(function(campground){ %>
	<div>
		<h4><%= campground.name %></h4>
		<img src="<%= campground.image %>">
	</div>
<% }); %>
<br>


<%- include ('partials/footer') %>